<!-- incluimos la cabezera -->
<%- include("template/cabezera", {tituloWeb : "Error 404"}) %> 

        <h1> Page</h1>
        <h2><%= titulo%></h2>
        <h3> Do Not Exist</h3>
        <h5><%= date%></h5>
<%- include("template/footer") %> 
